
*{
    scroll-behavior: smooth;
}


hr{
    color: transparent;
}

a{
    text-decoration: solid;
    font-family: 'Montserrat', sans-serif;
}


@keyframes myAnimation {
    0% {
      transform: scale(1) translate(0, 0);
    }
    100% {
      transform: scale(0.8) translate(11%, 0%);
    }
}

@keyframes scaleAndFadeIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}

@keyframes likeanimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
    
}


.topnav{
    font-size: 2.5vw;
    text-align: center;
    
    overflow: hidden;
    background-color: #ADD9F4 ;
    position: fixed;
    top: 0;
    width: 100%;
}
/* 
.moremenu .nav-link.active {
    background-color: #f8f9fa;
    border-color: transparent;
} */

/* .topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
} */

.placeholder {
    height: 20vh;
}

.topnav a{
    float: left;
    display: block;
    color: #000000;
    text-align: center;   /* inside the box, the text will be centered */
    padding: 14px 16px;  /*top and bottom padding is 14px, left and right padding is 16px - for the text */
    text-decoration: none;
}

.topnav a:hover{   /*when the mouse is over the link */
    background-color: #89023E;
    color: white;
}

.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
}

/*
.topnav a.active{         //when the link is active
    background-color: #4CAF50;
    border-bottom-color: #0f6cbf;
    color: white;
}
*/

/* .topnav a.active {
    background-color: #f8f9fa;
    border-bottom-color: aqua;
    border-color: transparent;
} */

.topnav a.active {
    background-color: #0C1821 ;
    color:#EBD4CB ;
}

.resume{
    color: #EBD4CB;

    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #000000;
    height: 5vw;
    width: 10vw;
    background-color: #0C1821;

}

.resumeClass{
    margin-left: 7%;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
    border: #000000;
    height: 5vw;
    width: 10vw;
    background-color: #FFD3E8;

}

.image{
    border-radius: 2rem;

    margin-left: 2vw;
    width: 20%;
    height: 20%;
    object-fit: cover;
    animation: scaleAndFadeIn 1s 1 forwards;
    float: left;
}


.hero-text {
    color: #FFD9DA;
    margin-top: 0px;
    margin-bottom: 0rem;
    font-size: 15vw;
    line-height: 1;
    font-weight: 700;
    text-align: right;
    animation: myAnimation 2s 1 forwards;
  }

.aboutMe{
    color: #EBD4CB;

    
    margin-top: 0px;
    margin-bottom: 0rem;
    font-size: 3vw;
    line-height: 1;
    font-weight: 700;
    background-color: #0C1821 ;
    text-align: center;
    height: 100%;
    padding-bottom: 100px;
}

.education{
    color: #EBD4CB;
    margin-top: 0px;
    margin-bottom: 0rem;
    font-size: 3vw;
    font-weight: 700;
    background-color: #0C1821 ;
    text-align: center;
    height: 100%;
    padding-bottom: 100px;
}

.achievements{
    color: #EBD4CB;
    margin-top: 0px;
    margin-bottom: 0rem;
    font-size: 3vw;
    line-height: 1;
    font-weight: 700;
    background-color: #0C1821 ;
    text-align: left;
    height: 100%;
    padding-bottom: 100px;
}

.skills{
    color: #EBD4CB;
    margin-top: 0px;
    margin-bottom: 0rem;
    font-size: 3vw;
    line-height: 1;
    font-weight: 700;
    background-color: #0C1821 ;
    text-align: left;
    height: 100%;
    padding-bottom: 100px;
}

.blog{
    margin-top: 0px;
    color: #EBD4CB;
    margin-bottom: 0rem;
    font-size: 3vw;
    line-height: 1;
    font-weight: 700;
    background-color: #0C1821 ;
    text-align: center;
    height: 100%;
    padding-bottom: 100px;
}

.contact {
    color: #EBD4CB;
    display: flex; /* Set container as flex */
    flex-direction: row;
    background-color: #0C1821 ;
    padding: 10px;
    text-align: center;
    align-items: center; /* Center items vertically */
}

.contact img {
    display: inline-block; /* Set images as inline-block */
    margin: 0 10px; /* Add spacing between images */
    width: 50px; /* Set image width */
    height: 50px; /* Set image height */
}

/* .likeButton{
    width: 10vh;
    height: 10vh;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    overflow: hidden;
}


.liked{
    
    width: 10vh;
    height: 10vh;
    animation: likeanimation 0.5s 1 forwards;
}

.unliked{
    
    width: 10vh;
    height: 10vh;

} */




/*#################################*/


.heart-btn{
    padding: auto;
    top: 50%;
    left: 50%;
    height: 5%;
    width: 12%;
    /* transform: translate(-50%,-50%); */
  }

  .content{
    padding: 13px 16px;
    display: flex;
    border: 2px solid #eae2e1;
    border-radius: 5px;
    cursor: pointer;
  }
  .content.heart-active{
    border-color: #f9b9c4;
    background: #fbd0d8;
  }

  .text{
    font-size: 21px;
    margin-left: 30px;
    color: grey;
    /* font-family: 'Montserrat',sans-serif; */
  }
  .numb:before{
    content: '12';
    font-size: 21px;
    margin-left: 7px;
    font-weight: 600;
    color: #9C9496;
    font-family: sans-serif;
  }

  .numb.heart-active:before{
    content: '13';
    color: #000;
  }
  .text.heart-active{
    color: #000;
  }


/*#################################*/

.comment-box {
    width: 300px;
    margin: 20px auto;
}

.comment-input {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.submit-btn {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.comments-container {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.comment {
    margin-bottom: 10px;
}

/*#################################*/


  

